@{
    ViewData["Title"] = "New Movie Entry";
}

@model Mission6GroupAssignment.Models.Quadrant

<h1>Enter a new task: </h1>

<div>
    <form method="post">

        <label asp-for="QuadrantNumber">Quadrant:</label>
        <select asp-for="QuadrantNumber">
            <option value="1">Quadrant I: Important / Urgent</option>
            <option value="2">Quadrant II: Important / Not Urgent</option>
            <option value="3">Quadrant III: Not Important / Urgent</option>
            <option value="4">Quadrant IV: Not Important / Not Urgent</option>
        </select><br />

        <label asp-for="Task">Task:</label>
        <input asp-for="Task" /><br />

        <label asp-for="DueDate">Due Date:</label>
        <input asp-for="DueDate" /><br />

        <label asp-for="Completed">Completed:</label>
        <select asp-for="Completed">
            <option value=true>Completed</option>
            <option value=false>Not Completed</option>
        </select><br />

        <label asp-for="CategoryID">Category:</label>
        <select asp-for="CategoryID">
            <option value="">Select a Category</option>
            @foreach (Category c in ViewBag.Categories)
            {
                <option value="@c.CategoryID">@c.CategoryName</option>
            }
        </select><br />

        <button type="submit">Submit New Task</button>

        <div asp-validation-summary="All"></div>
    </form>
</div>